#menu {
  .top-address {
    background-color: #0071bd;
    color: white;
    p{
      padding: 5px 0px;
      font-size: 12px;
    }
    a{
      color: white;
    }
  }

  .middle-logo{
    background-repeat: repeat;
    font-family: 'Tinos', serif;
    img{
      width: 108px;
      height: auto;
    }

    .slogan{
      p{
        //font-family: 'Markazi Text', serif;
        //font-family: 'Lalezar', cursive;
        font-family: 'Yeseva One', cursive;
        font-size: 18px;
      }
    }

    .address{
      i{
        font-size: 32px;
        margin-right: 15px;
        border-right: 1px solid #6f6f6f;
        padding-right: 15px;
        color: #4c4d4e;
      }
      p{
        line-height: 22px;
        font-size: 18px;
        color: #4c4d4e;
      }
    }
  }

  .menu-content{
    background-color: #093f7e;
    ul{
      list-style-type: none;
      li{
        box-sizing:border-box;
        border-bottom:2px solid transparent ;
        border-top:2px solid transparent ;
        display: inline-flex;
        transition: .6s;
        a{
          padding: 22px 12px;
          color: white;
          font-family: 'Yeseva One', cursive;
          transition: .6s;
          &:hover{
            background-color: #007bff;
          }
          &.active{
            background-color: #007bff;
          }
        }
      }
    }
  }
}