#menu {
  .top-address {
    background-color: #0071bd;
    color: white;
    p{
      padding: 5px 0px;
      font-size: 12px;
    }
    a{
      color: white;
    }
  }

  .middle-logo{
    background-repeat: repeat;
    font-family: 'Tinos', serif;
    img{
      width: 108px;
      height: auto;
    }

    .slogan{
      p{
        //font-family: 'Markazi Text', serif;
        //font-family: 'Lalezar', cursive;
        width: 300px;
        //word-break: break-all;
        font-family: 'Yeseva One', cursive;
        font-size: 18px;
        line-height: 22px;
      }
    }

    .address{
      width: fit-content;
      i{
        font-size: 32px;
        margin-right: 15px;
        border-right: 1px solid #6f6f6f;
        padding-right: 15px;
        color: #4c4d4e;
      }
      p{
        width: 268px;
        line-height: 22px;
        font-size: 18px;
        color: #4c4d4e;
      }
    }
  }

  .menu-content{
    background-color: #093f7e;
    ul{
      list-style-type: none;
      li{
        box-sizing:border-box;
        border-bottom:2px solid transparent ;
        border-top:2px solid transparent ;
        display: inline-flex;
        transition: .6s;
        a{
          padding: 22px 12px;
          color: white;
          font-family: 'Yeseva One', cursive;
          transition: .6s;
          text-transform: uppercase;
          &:hover{
            background-color: #007bff;
          }
          &.active{
            background-color: #007bff;
          }
        }
      }
    }

    .search-box{
      width: fit-content;
      border-radius: 18px;
      background-color: #fff;
      input{
        background-color: transparent;
        padding: 10px 20px;
        border: none;
        &:focus{
          outline: none;
        }
      }
      button{
        height: 36px;
        width: 36px;
        line-height: 36px;
        text-align: center;
        border:none ;
        border-radius: 50%;
        background-color: #ccc;
        cursor: pointer;
        transition: .5s;
        margin-right: 1px;
        i{
          color: #004085;
          transition: .5s;
        }
        &:focus{
          outline: none;
        }
        &:hover{
          background-color: #004085;
        }
        &:hover i{
          color: white;
        }
      }
    }
  }
}