#l_1 {
    padding-top: 50px;
    padding-bottom: 50px;
  h4,h1{
    font-family: 'Yeseva One', cursive;
    color: #004085;
    position: relative;
    margin-bottom: 15px;
  }
  h3{
    font-family: 'Yeseva One', cursive;
    color: #004085;
  }
  input{
    width: 100%;
    margin-bottom: 12px;
    padding: 8px 15px;
    border-radius: 18px;
    border: none;
    background-color: #dbe4ed;
    &:focus{
      outline: none;
    }
  }

  textarea{
    width: 100%;
    margin-bottom: 18px;
    padding: 8px 15px;
    border-radius: 18px;
    background-color: #dbe4ed;
    border: none;
    &:focus{
      outline: none;
    }
  }
  span.fr-title{
    font-size: 14px;
  }

  button.send-lh{
    //padding: 10px 8px 7px 8px;
    border: none;
    font-size: 13px;
    background-color: transparent;
    color: white;
    img{
      width: 186px;
      height: auto;
    }
  }
  h1{
    &:after{
      position: absolute;
      content: '';
      width: 68px;
      height: 2px;
      background-color: #004085;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%) skew(45deg);
    }
  }
  p{
    line-height: 22px;
    font-size: 18px;
    text-align: center;
  }
}